.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .input-container input {
    border: 2px solid rgb(111, 24, 99);
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
  }
  
  .input-container button {
    border: 2px solid rgb(63, 8, 51);
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }



.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  h1, a, form {
    margin: 5px 0;
  }
  


body {
    background-color: rgb(142, 76, 133); 
    margin: 0; 
    padding: 0; 
  }
  
 
.button-link {
    display: inline-block;
    padding: 10px 20px; 
    text-decoration: none; 
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
    
  
   
    &:hover {
      background-color: #ab1d8c; 
    }
  }


.values-area {
  max-height: 100px; 
  overflow-y: auto; 
  margin-top: 40px;
}

.button {
  border: none;
  padding: 5px 10px; 
  cursor: pointer; 
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh; 
}

h1 {
  margin: 10px 0;
  flex-grow: 0; 
}

.imagem{
height: 500px;
width: 1500px;
}